<div class="col-lg-12">
                <div class="beyond-compliance-in">
                    <!-- ITEM -->
                    <div class="beyond-compliance-item-outer">
                    <div class="beyond-compliance-item">
                        <div class="beyond-compliance-item-icon">
                        <img src="/img/bc-card-icon-1.png" alt="Image">
                        </div>
                        <p>Better equipped to cover your ISO clean room bases</p>
                    </div>
                    </div>
                    <!-- ITEM -->
                    <!-- ITEM -->
                    <div class="beyond-compliance-item-outer">
                    <div class="beyond-compliance-item">
                        <div class="beyond-compliance-item-icon">
                        <img src="/img/bc-card-icon-2.png" alt="Image">
                        </div>
                        <p>Better equipped to meet EPA, OSHA, NFPA, and NESHAP standards</p>
                    </div>
                    </div>
                    <!-- ITEM -->
                    <!-- ITEM -->
                    <div class="beyond-compliance-item-outer">
                    <div class="beyond-compliance-item">
                        <div class="beyond-compliance-item-icon">
                        <img src="/img/bc-card-icon-3.png" alt="Image">
                        </div>
                        <p>Better equipped to increase your operational efficiency and bottom line</p>
                    </div>
                    </div>
                    <!-- ITEM -->
                </div>
                </div>