<div class="pagination">
    {% if pagination.previous %}
    <a href="/{{ pagination.previous.path }}" class="pagination-previous">
        <svg width="28px" height="24px" viewBox="0 0 28 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.3">
                <g id="Arrow-circle-double" transform="translate(-19.000000, -20.000000)" fill="#131313">
                    <g id="arr" transform="translate(33.000000, 32.000000) rotate(180.000000) translate(-33.000000, -32.000000) translate(19.000000, 20.000000)">
                        <polygon id="arr2" points="1.71322621 0 0 1.58252298 11.27822 12.0003197 0 22.4181164 1.71322621 24 14 12.6505928 14 11.3494072"></polygon>
                        <polygon id="arr1" points="15.7132262 0 14 1.58252298 25.27822 12.0003197 14 22.4181164 15.7132262 24 28 12.6505928 28 11.3494072"></polygon>
                    </g>
                </g>
            </g>
        </svg>
        PREVIOUS
    </a>
    {% else %}
    <p class="pagination-previous">
        <svg width="28px" height="24px" viewBox="0 0 28 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.3">
                <g id="Arrow-circle-double" transform="translate(-19.000000, -20.000000)" fill="#131313">
                    <g id="arr" transform="translate(33.000000, 32.000000) rotate(180.000000) translate(-33.000000, -32.000000) translate(19.000000, 20.000000)">
                        <polygon id="arr2" points="1.71322621 0 0 1.58252298 11.27822 12.0003197 0 22.4181164 1.71322621 24 14 12.6505928 14 11.3494072"></polygon>
                        <polygon id="arr1" points="15.7132262 0 14 1.58252298 25.27822 12.0003197 14 22.4181164 15.7132262 24 28 12.6505928 28 11.3494072"></polygon>
                    </g>
                </g>
            </g>
        </svg>
        PREVIOUS
    </p>
    {% endif %}

    {# Define variables #}
    {% set totalPages = pagination.pages | length %}
    {% set currentPage = pagination.currentPage %}
    {% set range = 3 %} {# Number of visible pages before/after current page #}

    <div class="custom-blog-page">
        {# Always show the first 3 pages #}
        {% for i in range(1, 4) %}
            {% if i <= totalPages %}
                {% if i == currentPage %}
                    <span class="pagination-number active">{{ i }}</span>
                {% else %}
                    <a href="/{{ pagination.pages[i-1].path }}" class="pagination-number">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {# Show '...' if currentPage is greater than range + 1 #}
        {% if currentPage > range + 1 %}
            <span class="pagination-ellipsis">...</span>
        {% endif %}

        {# Show pages around the current page #}
        {% for i in range(currentPage - 1, currentPage + 2) %}
            {% if i > 3 and i < totalPages - 2 %}
                {% if i == currentPage %}
                    <span class="pagination-number active">{{ i }}</span>
                {% else %}
                    <a href="/{{ pagination.pages[i-1].path }}" class="pagination-number">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {# Show '...' if currentPage is not near the last pages #}
        {% if currentPage < totalPages - range %}
            <span class="pagination-ellipsis">...</span>
        {% endif %}

        {# Always show the last 3 pages #}
        {% for i in range(totalPages - 2, totalPages + 1) %}
            {% if i > 3 %}
                {% if i == currentPage %}
                    <span class="pagination-number active">{{ i }}</span>
                {% else %}
                    <a href="/{{ pagination.pages[i-1].path }}" class="pagination-number">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    {% if pagination.next %}
    <a href="/{{ pagination.next.path }}" class="pagination-next">
        NEXT
        <svg width="28px" height="24px" viewBox="0 0 28 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.3">
                <g id="Arrow-circle-double" transform="translate(-19.000000, -20.000000)" fill="#131313">
                    <g id="arr" transform="translate(19.000000, 20.000000)">
                        <polygon id="arr2" points="1.71322621 0 0 1.58252298 11.27822 12.0003197 0 22.4181164 1.71322621 24 14 12.6505928 14 11.3494072"></polygon>
                        <polygon id="arr1" points="15.7132262 0 14 1.58252298 25.27822 12.0003197 14 22.4181164 15.7132262 24 28 12.6505928 28 11.3494072"></polygon>
                    </g>
                </g>
            </g>
        </svg>
    </a>
    {% endif %}
</div>
