{% extends "layout.njk" %}
{% set waveType = 'gray' %}
{% block body %}

<!-- Transforming Solution Section Begin -->

        <div class="transforming-solution-sec cmn-gap airospace-aviation-pg">
            <div class="container">
                <div class="transforming-solution-inr advance-cl-inr has-texture">
                    <div class="texture"><img src="/img/advance-cl-texture.png" alt="Texture"></div>
                    <div class="sec-head">
                        <h2>{{ main_head }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="transfrom-solution-left">
                                <div class="sec-inr-head">
                                    <h2>{{ gm_intro.intro_head }}</h2>
                                        {{ gm_intro.intro_desc | md }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="transfromsl-img-wrp">
                                <div class="transforming-solution-img">
                                    <img src="{{ gm_intro.intro_image }}" alt="Image">
                                </div>
                                <div class="blob1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Transforming Solution Section -->

    <!-- DOD Section Begin -->

        <div class="dod-sec cmn-gap">
            <div class="container">
                <div class="dod-inr">
                    <div class="row">
                        <div class="col-lg-5 dod-left-wrp">
                            <div class="dod-left">
                                <div class="sec-inr-head">
                                    <h2>{{ dod_section.child_left_sec.dod_left_head }}</h2>
                                    <p>{{ dod_section.child_left_sec.dod_desc | md }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 dod-right-wrp">
                            <div class="dod-right">
                                <div class="dod-card-wrp">
                                    <div class="dod-card">
                                        <div class="dod-card-head">
                                            <h3>{{ dod_section.child_center_sec.dod_center_head }}</h3>
                                        </div>
                                        <div class="dod-card-body">
                                            {{ dod_section.child_center_sec.description | md }}
                                        </div>
                                    </div>
                                </div>

                                <div class="dod-small-cards-wrp">
                                {%- for item in dod_section.child_right_sec -%}
                                    <div class="dod-sm-card">
                                        <div class="dod-sm-card-head">
                                            <h3>{{ item.dod_right_head }}</h3>
                                        </div>
                                        <div class="dod-sm-card-btn">
                                            <a href="#url">{{ item.btn }}<img src="/img/btn-arrow.svg" alt="Arrow Icon"></a>
                                        </div>
                                    </div>
                                {%- endfor -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of DOD Section -->

    <!-- MRO Section Begin -->

        <div class="mro-sec cmn-gap">
            <div class="container">
                <div class="mro-outer">
                    <div class="sec-inr-head">
                        <h2>Containment + Filtration = MRO Flexibility and Operational Readiness</h2>
                    </div>
                    <div class="mro-inr">
                        {%- for item in flexibility -%}
                        <div class="mro-content-sec">
                            <div class="mro-content-row row">
                                <div class="mro-content-left-wrp col-lg-6">
                                    <div class="mro-content-left">
                                        <h3>{{ item.heading }}</h3>
                                        <div class="mro-content">
                                            {{ item.description | md }}
                                        </div>
                                    </div>
                                </div>
                                <div class="mro-content-right-wrp col-lg-6">
                                    <div class="mro-content-right">
                                        <div class="mro-content-rt-img">
                                            <img src="{{ item.image }}" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of MRO Section -->

    <!-- Mro Needs Section Begin -->solution_section

        <div class="mro-needs-sec">
            <div class="container">
                <div class="mro-needs-inr">
                    <div class="sec-inr-head">
                        <h2>{{ solution_section.solution_haed }}</h2>
                    </div>

                    <div class="mro-needs-cards">
                    {%- for p in related_products -%}
                    {%- set item = p | findByField('title', products) -%}
                    {%- if item and item.title and item.thumbnail -%}
                        <div class="mro-needs-card">
                            <div class="mro-need-card-left">
                                <div class="mrond-card-img">
                                    <img src="{{ item.thumbnail }}" alt="Mro Need Image">
                                </div>
                            </div>
                            <div class="mro-need-right">
                                <div class="mro-need-right-head">
                                    <h3>{{ item.title }}</h3>
                                    {{ item.g&m_related_data.show_data | md }}
                                    <a href="javascript:void(0)" class="read-btn">Read more <img src="./images/btn-arrow.svg" alt="Icon"></a>
                                </div>
                                <div class="mro-need-right-content">
                                    <p>DuroRooms isolate and contain a hazard created during a manufacturing and maintenance process or protect a process from external contamination. All systems are custom-designed to a customer’s requirements including:</p>
                                    <div class="mro-need-content-list">
                                        {{ item.g&m_related_data.hide_data | md }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                    {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Mro Needs Section -->

    <!-- Reasons Section Begin -->

        <div class="reasons-sec cmn-gap govt-pg">
            <div class="container">
                <div class="reasons-inr">
                    <div class="sec-inr-head">
                        <h2>TOP 10 Ways Duroair Supports Mission-Critical Readiness for Military Bases</h2>
                        <p>Between manufacturing, MRO, and prototyping, you don’t have time to rearrange your entire facility with the dedicated space and ductwork to shield your employees from airborne contaminates during sanding and painting. You need portable, clean-air solutions for the mission readiness, flexibility, and reliability required of your people and mission-critical equipment. Here are 10 ways Duroair supports mission readiness with portable containment and industrial air filtration systems.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 reasone-left-wrp">
                            <div class="reasone-left">
                                <div class="reasons-accrdn">
                                    <div class="reasons-accrdn-card active">
                                        <div class="reasonsaccr-head">
                                            <h3>Increases Readiness</h3>
                                            <div class="chevron">
                                                <i class="fal fa-chevron-down"></i>
                                            </div>
                                        </div>
                                        <div class="reasonsaccr-body">
                                            <p>Our systems are deployable capital equipment. They can be designed to be compatible with Deployable Rapid Assembly Shelters currently in use by the military. The system is plug and play and can be deployed where needed.</p>
                                        </div>
                                    </div>
                                    
                                    <div class="reasons-accrdn-card">
                                        <div class="reasonsaccr-head">
                                            <h3>Protection of Service Members</h3>
                                            <div class="chevron">
                                                <i class="fal fa-chevron-down"></i>
                                            </div>
                                        </div>
                                        <div class="reasonsaccr-body">
                                            <p>Our systems are deployable capital equipment. They can be designed to be compatible with Deployable Rapid Assembly Shelters currently in use by the military. The system is plug and play and can be deployed where needed.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 reasone-right-wrp">
                            <div class="reasone-right">
                                <div class="reason-right-img">
                                    <img src="/img/reason-right-img.png" alt="Reason Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Reasons Section -->

    <!-- Case Studies Section Begin -->

        <div class="case-study-sec">
            <div class="container">
                <div class="case-study-inr has-texture">
                    <div class="texture"><img src="/img/military-csstdy-texture.png" alt="Texture"></div>
                    <div class="sec-head">
                        <h2>Real-World Success: Military Case Studies</h2>
                    </div>
                    <div class="row">
                        <div class="case-study-slider-wrp">
                            <div class="case-study-slider">
                                <div class="casesl-item">
                                    <div class="cs-item-inr">
                                        <div class="csitem-img">
                                            <img src="images/case-study-3.png" alt="Case Study image">
                                        </div>
                                        <div class="case-sdy-content">
                                            <h3>Engineered Industrial Air Filtration Clears the Air for Weld Shop Productivity</h3>
                                            <a href="#url" class="arw-btn-icon"><img src="images/arw-btn-icon.svg" alt="Icon"></a>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        <div class="case-study-nav-slider-wrp">
                            <div class="cstdy-slider-nav-inr-wrp">
                                <div class="csstdy-nav-slider cmnslider">
                                    <div class="csstdy-slider-item">
                                        <div class="csstdy-item-inr">
                                            <div class="csstdyitem-img">
                                                <img src="images/case-study-3.png" alt="Case Study image">
                                            </div>
                                            <div class="csstdynv-content">
                                                <h3>Engineered Industrial Air Filtration Clears the Air for Weld Shop Productivity</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="progress-bar-container">
                                <div class="progress-bar"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Of Case Studies Section -->

    <!-- Certification sec -->

        <div class="certification-sec cmn-gap pt-0">
            <div class="container">
                <div class="certification-inr">
                    <div class="sec-head">
                        <h2>Certifications</h2>
                    </div>

                    <div class="sec-inr-head">
                        <h3 class="h2-title">Duroair’s certified clean air solutions ensure compliance, safety, and efficiency in industrial environments.</h3>
                    </div>

                    <div class="btn-grp">
                        <a href="#url" class="button">Download Now</a>
                    </div>
                </div>
            </div>
        </div>

    <!-- Certification sec -->

{% endblock %}